@import "compass/css3";
@import "compass/utilities/general/float";
@import "compass/utilities/general/min";

@mixin respond-to($media) {
	@if $media == mobile {
		@media only screen and (max-width: 479px) { @content; }
	}
	@else if $media == big-mobile {
		@media only screen and (min-width: 480px) and (max-width: 767px) { @content; }
	}
	@else if $media == tablets {
		@media only screen and (min-width: 768px) and (max-width: 959px) { @content; }
	}
	@else if $media == wide {
		@media only screen and (min-width: 960px) { @content; }
	}
}

@include font-face("EDT-Main-Font", font-files("CaviarDreams.woff","CaviarDreams.ttf","Caviar_Dreams_Bold.woff","Caviar_Dreams_Bold.ttf","CaviarDreams_BoldItalic.woff","CaviarDreams_BoldItalic.ttf","CaviarDreams_Italic.woff","CaviarDreams_Italic.ttf"));

// 	COLORS
$edtDarkColor: 	#24265D;
$edtLightColor: #00ADEF;

$edtHeadBgColor: 	tint($edtDarkColor, 5);
$edtDaysBgColor: 	tint($edtDarkColor, 70);
$edtTimesBgColor: 	tint(#bdc6ce, 50);

//	FONTS
$edtMainFont:		"EDT-Main-Font";
$edtCommentsFont:	"EDT Comments Font";
$edtNumbersFont:	"EDT Numbers Font";

$edtCaptionFSize:	20 / 16;
$edtHeadFSize:		17 / 16;
$edtDaysFSize:		15 / 16;
$edtFooterFSize:	13 / 16;
$edtBlockInfoFSize:	10 / 16;

$edtHeadFColor:		tint($edtDarkColor,80);
$edtCaptionFColor:	shade($edtDarkColor,50);
$edtDaysFColor:		$edtDarkColor;
$edtFooterFColor:	shade($edtDarkColor,50);
$edtBlockInfoFColor:	#000;

$edtChartHeightH:		70;
$edtChartHeightV:		500;

@mixin edt-block-info-font {
	font-family: 	$edtMainFont;
	font-size: 		$edtBlockInfoFSize+em;
	color: 			$edtBlockInfoFColor;
	font-weight:	bold;
}

@mixin edt-caption-font {
	font-family: 	$edtMainFont;
	font-size: 		$edtCaptionFSize+em;
	color: 			$edtCaptionFColor;
	font-weight:	bold;
}

@mixin edt-head-font {
	font-family: 	$edtMainFont;
	font-size: 		$edtHeadFSize+em;
	color: 			$edtHeadFColor;
}

@mixin edt-footer-font {
	font-family: 	$edtMainFont;
	font-size: 		$edtFooterFSize+em;
	color: 			$edtFooterFColor;
}

@mixin edt-days-font {
	font-family: 	$edtMainFont;
	font-size: 		$edtDaysFSize+em;
	color: 			$edtDaysFColor;
}
