@import "edt-base";
@import "edt-search";

body {
	@include respond-to(mobile){margin: 0px};
}

:host table {
	border-collapse: collapse;	
	table-layout: fixed;
	width: 100%;
}

:host #edt {
	@include respond-to(mobile){width: 100%};
	@include respond-to(big-mobile){width: 450px};
	@include respond-to(tablets){width: 700px};
	@include respond-to(wide){width: 900px};
}

:host /deep/ .edt-head {
	@include edt-head-font;
	text-align: center;
	background-color: $edtHeadBgColor;
}

:host /deep/ .edt-head-wrap {
	width: 90px;
	@include respond-to(mobile){width: 100%};
}

:host /deep/ .edt-head-time-h {
	display: table-cell;
	@include respond-to(mobile){display: none};
}

:host /deep/ .edt-caption {
	@include edt-caption-font;
	text-align: center;
	padding: 5px;
}

:host /deep/ .edt-logo {
	max-width: 80px;
	vertical-align: middle;
	display: block;
	@include float-left;
	@include respond-to(mobile){display: none};
}

:host /deep/ .edt-footer {
	@include edt-footer-font;
	border-bottom: 2px solid $edtDarkColor;
	padding-top: 5px;
	width: 100%;
	text-align: right;
}

:host /deep/ .edt-days {
	@include edt-days-font;
	padding: 0;
	vertical-align: middle;
	text-align: center;
	background-color: $edtDaysBgColor;
}

:host /deep/ .edt-times-h {
	background-color: $edtTimesBgColor;	
	display: table-cell;
	border-bottom: 1px solid shade($edtTimesBgColor, 20);
	@include respond-to(mobile){display: none};
}

:host /deep/ .chartContainer {
	width: 100%;
	height: $edtChartHeightH+px;
	padding: 0;
	overflow: hidden;
	position: relative;
}

:host /deep/ .chartContainer /deep/ core-icon {
	@include opacity(0.7);
}

:host /deep/ .chartContainerV {
	background-color: $edtTimesBgColor;
	display: none;
	text-align: left;
	width: 100%;
	@include respond-to(mobile){display: table-cell};
	height: $edtChartHeightV+px;
	overflow: hidden;
	position: relative;
}

:host /deep/ .chartContainerV /deep/ core-icon {
	@include opacity(0.7);
}

:host /deep/ .chart {
	width: 100%;
	height: 100%;
	background-color: $edtTimesBgColor;
}

:host /deep/ .edt-block-info {
	@include edt-block-info-font;
}
