@import "edt-base";

edt-mecuncu table {
	border-collapse: collapse;	
	table-layout: fixed;
	@include box-shadow(rgba($edtDarkColor, 0.4) 0 0 25px, rgba($edtLightColor, 0.2) 0 0 3px 1px inset);
	@include respond-to(mobile){width: 200px};
	@include respond-to(big-mobile){width: 450px};
	@include respond-to(tablets){width: 80%};
	@include respond-to(wide){width: 80%};
}

edt-mecuncu * .edt-head * {
	@include edt-head-font;
	text-align: center;
	background-color: $edtHeadBgColor;
}

edt-mecuncu * .edt-head-wrap {
	width: 90px;
	@include respond-to(mobile){width: 200px};
}

edt-mecuncu * .edt-head-time-h {
	display: table-cell;
	@include respond-to(mobile){display: none};
}

edt-mecuncu * .edt-caption {
	@include edt-caption-font;
	padding: 5px;
}

edt-mecuncu * .edt-logo {
	max-width: 80px;
	vertical-align: middle;
	display: block;
	@include float-left;
	@include respond-to(mobile){display: none};
}

edt-mecuncu * .edt-footer {
	@include edt-footer-font;
	border-bottom: 2px solid $edtDarkColor;
	padding-top: 5px;
	width: 100%;
	text-align: right;
}

edt-mecuncu * .edt-days {
	@include edt-days-font;
	vertical-align: middle;
	text-align: center;
	background-color: $edtDaysBgColor;
}

edt-mecuncu * .edt-times-h {
	background-color: $edtTimesBgColor;	
	display: table-cell;
	border-bottom: 1px solid shade($edtTimesBgColor, 20);
	@include respond-to(mobile){display: none};
}

edt-mecuncu * .chartContainer {
	width: 100%;
	height: $edtChartHeightH+px;
	overflow: hidden;
	position: relative;
}

edt-mecuncu * .chartContainerV {
	width: 100%;
	height: $edtChartHeightV+px;
	overflow: hidden;
	position: relative;
}

edt-mecuncu * .chart {
	width: 100%;
	height: 100%;
	background-color: $edtTimesBgColor;
}

edt-mecuncu * .edt-times-v {
	background-color: $edtTimesBgColor;
	display: none;
	width: 90px;
	@include respond-to(mobile){width: 200px};
	@include respond-to(mobile){display: table-cell};
}

edt-mecuncu * .hide {
	display: none;
}

edt-mecuncu * .edt-block-info {
	@include edt-block-info-font;
}
