@font-face {
  font-family: "EDT-Main-Font";
  src: url('fonts/CaviarDreams.woff?1413776370') format('woff'), url('fonts/CaviarDreams.ttf?312778800') format('truetype'), url('fonts/Caviar_Dreams_Bold.woff?1413776379') format('woff'), url('fonts/Caviar_Dreams_Bold.ttf?312778800') format('truetype'), url('fonts/CaviarDreams_BoldItalic.woff?1413776387') format('woff'), url('fonts/CaviarDreams_BoldItalic.ttf?312778800') format('truetype'), url('fonts/CaviarDreams_Italic.woff?1413776402') format('woff'), url('fonts/CaviarDreams_Italic.ttf?312778800') format('truetype');
}
/* line 3, sass/edt-mecuncu.scss */
edt-mecuncu table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}

@media only screen and (max-width: 479px) {
  /* line 9, sass/edt-mecuncu.scss */
  edt-mecuncu #edt {
    width: 200px;
  }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  /* line 9, sass/edt-mecuncu.scss */
  edt-mecuncu #edt {
    width: 450px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
  /* line 9, sass/edt-mecuncu.scss */
  edt-mecuncu #edt {
    width: 700px;
  }
}
@media only screen and (min-width: 960px) {
  /* line 9, sass/edt-mecuncu.scss */
  edt-mecuncu #edt {
    width: 900px;
  }
}

/* line 16, sass/edt-mecuncu.scss */
edt-mecuncu * .edt-head * {
  font-family: "EDT-Main-Font";
  font-size: 1.0625em;
  color: #d3d3de;
  text-align: center;
  background-color: #2e3065;
}

/* line 22, sass/edt-mecuncu.scss */
edt-mecuncu * .edt-head-wrap {
  width: 90px;
}
@media only screen and (max-width: 479px) {
  /* line 22, sass/edt-mecuncu.scss */
  edt-mecuncu * .edt-head-wrap {
    width: 200px;
  }
}

/* line 27, sass/edt-mecuncu.scss */
edt-mecuncu * .edt-head-time-h {
  display: table-cell;
}
@media only screen and (max-width: 479px) {
  /* line 27, sass/edt-mecuncu.scss */
  edt-mecuncu * .edt-head-time-h {
    display: none;
  }
}

/* line 32, sass/edt-mecuncu.scss */
edt-mecuncu * .edt-caption {
  font-family: "EDT-Main-Font";
  font-size: 1.25em;
  color: #12132e;
  font-weight: bold;
  text-align: center;
  padding: 5px;
}

/* line 38, sass/edt-mecuncu.scss */
edt-mecuncu * .edt-logo {
  max-width: 80px;
  vertical-align: middle;
  display: block;
  float: left;
}
@media only screen and (max-width: 479px) {
  /* line 38, sass/edt-mecuncu.scss */
  edt-mecuncu * .edt-logo {
    display: none;
  }
}

/* line 46, sass/edt-mecuncu.scss */
edt-mecuncu * .edt-footer {
  font-family: "EDT-Main-Font";
  font-size: 0.8125em;
  color: #12132e;
  border-bottom: 2px solid #24265D;
  padding-top: 5px;
  width: 100%;
  text-align: right;
}

/* line 54, sass/edt-mecuncu.scss */
edt-mecuncu * .edt-days {
  font-family: "EDT-Main-Font";
  font-size: 0.9375em;
  color: #24265D;
  vertical-align: middle;
  text-align: center;
  background-color: #bdbdce;
}

/* line 61, sass/edt-mecuncu.scss */
edt-mecuncu * .edt-times-h {
  background-color: #dee2e6;
  display: table-cell;
  border-bottom: 1px solid #b1b4b8;
}
@media only screen and (max-width: 479px) {
  /* line 61, sass/edt-mecuncu.scss */
  edt-mecuncu * .edt-times-h {
    display: none;
  }
}

/* line 68, sass/edt-mecuncu.scss */
edt-mecuncu * .chartContainer {
  width: 100%;
  height: 70px;
  padding: 0;
  overflow: hidden;
  position: relative;
}

/* line 76, sass/edt-mecuncu.scss */
edt-mecuncu * .chartContainerV {
  width: 100%;
  height: 500px;
  overflow: hidden;
  position: relative;
}

/* line 83, sass/edt-mecuncu.scss */
edt-mecuncu * .chart {
  width: 100%;
  height: 100%;
  background-color: #dee2e6;
}

/* line 89, sass/edt-mecuncu.scss */
edt-mecuncu * .edt-times-v {
  background-color: #dee2e6;
  display: none;
  width: 90px;
}
@media only screen and (max-width: 479px) {
  /* line 89, sass/edt-mecuncu.scss */
  edt-mecuncu * .edt-times-v {
    width: 200px;
  }
}
@media only screen and (max-width: 479px) {
  /* line 89, sass/edt-mecuncu.scss */
  edt-mecuncu * .edt-times-v {
    display: table-cell;
  }
}

/* line 97, sass/edt-mecuncu.scss */
edt-mecuncu * .hide {
  display: none;
}

/* line 101, sass/edt-mecuncu.scss */
edt-mecuncu * .edt-block-info {
  font-family: "EDT-Main-Font";
  font-size: 0.625em;
  color: #000;
  font-weight: bold;
}
